  @import url(../css/reset.css);
  @import url(../css/header.css);
  @import url(../css/footer.css);
  
  
  
  /* λ©”μΈννΈ */
  main{
      width: 100%;
      height: 100%;
  }
  main .wrapper{
      max-width: 80%;
      height: 100%;
      margin: 0 auto;
  }
  main .wrapper .scripture{
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    margin: 2rem 0;
  }
  